        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center sadface">
                <img src="./img/sad.png">
                <h3>Want to see your URLs or create new URLs?</h3>
                <p>Login or register above!</p>
            </div>
        </div>