<!DOCTYPE html>
<html lang="en">
<head>
    <a href="/urls" style="text-decoration:none; color: #C22AE8">
        <h1> Smaller 4 U</h1>
    </a>
    <hr/>
</head>
<body>
<form action="/login" method="POST" style="margin:150px;">
    <input placeholder="Email" type="email" name="email" style="width: 300px">
    <input placeholder="Password" type="password" name="password">
    <button type="submit">Login</button>
</form>
</body>
</html>
