<!-- this page will display the shortened url -->
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<% include partials/_header %>
<h3>ShortUrl to edit &#10547; <%= shortURL %></h3>

<form action="/urls/<%= shortURL %>?_method=PUT" method="POST" style="margin:150px;">
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="<%= longURL %>" style="width: 300px">
    <input type="submit" value="Submit">
</form>

</body>
</html>

