html, body {
  height: 100%;
}

body {
  background: url('../img/bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  color: #351330;
}

a {
  color: #424254;
}

.container {
  background-color: rgba(255, 255, 255, 0.6); 
  padding: 25px;
  font-size: 1.4em;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.logo {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}

.header {
  margin-bottom: 10%;
}

.message {
  margin-bottom: 50px;
}